{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="my-3">{{ article.titre }}</h1>
        <p>Créer le <span class="badge bg-primary">{{ article.createdAt|date("d/m/Y") }}</span></p>

        {% if article.categorie is null %}
            <p>Aucune Catégorie</p>
        {% else %}
            <p>Catégorie
                <a href="{{ path('app_categorie_slug' ,{'slug': article.categorie.slug}) }}">
                    <span class="badge bg-primary">{{ article.categorie.titre }}</span>
                </a>
            </p>
        {% endif %}

        <h3>Contenue</h3>
            <p>{{ article.contenu | raw }}</p>

    {# Button Modal #}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        {{ article.commentaires | length }}
        {% if article.commentaires | length < 2 %}
            Commentaire
        {% else %}
            Commentaires
        {% endif %}
    </button>

    {# Modal #}
    {% if article.commentaires | length > 0 %}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Commentaire</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for commentaire in article.commentaires %}
                            <figure>
                                <blockquote class="blockquote">
                                    <p> {{ commentaire.contenu }}</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                   {% if commentaire.auteur is not null%}
                                       {{ commentaire.auteur.pseudo }}
                                    {% else %}
                                        Anonyme
                                    {% endif %}
                                </figcaption>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermé</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}